---
import Layout from "../layouts/Layout.astro";

const { timeInMs } = Astro.params;
const response = await fetch(
    Astro.url.origin + "/.netlify/functions/get_settings",
);
const data = await response.json();
const eventData = data.events.filter((event) => event.timeInMs == timeInMs);
if (eventData.length === 0) return Astro.redirect("/");
const { applicationId, sessionId, conversationId } = eventData[0];

const tokensResponse = await fetch(
    Astro.url.origin + "/.netlify/functions/generate_tokens",
    {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify({ sessionId, role: "subscriber" }),
    },
);
const tokensData = await tokensResponse.json();
const { videoToken } = tokensData;
---

<Layout title="Watch">
    <h1><a href={Astro.url.origin}> &lt;</a> Watch page</h1>

    <section
        data-video-token={videoToken}
        data-session-id={sessionId}
        data-application-id={applicationId}
        data-conversation-id={conversationId}
    >
        <div id="video-subscriber-container">
            <div id="scene">
                <div>
                    <h1>{eventData[0].title}</h1>
                    <br /><br /><p id="scene-status"></p>
                </div>
            </div>
            <div id="screen-container"></div>
            <div id="camera-container"></div>
        </div>

        <div id="chat-section">
            <div id="chat-login">
                <label for="name">Enter your name for chat:</label><br />
                <input type="text" id="name" name="name" required /><br />
                <button id="submit">submit</button>
                <div id="login-status"></div>
            </div>
            <div id="chat-application">
                <div id="chat-section">
                    <vc-messages></vc-messages>
                    <div>
                        <vc-text-input typingTimeout="1500"></vc-text-input>
                        <vc-typing-indicator></vc-typing-indicator>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <dialog id="welcome-dialog">
        <h1>Welcome!</h1>
        <p>Remember, be kind.</p>
        <button>Got it.</button>
    </dialog>
</Layout>

<style>
    section {
        display: flex;
    }
    dialog {
        text-align: center;
    }
    #scene {
        display: none;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        z-index: 20;
        text-align: center;
    }
    #chat-application {
        display: none;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    vc-messages {
        height: 300px;
    }

    vc-messages::part(message) {
        padding: 15px;
        margin: 5px;
    }

    vc-messages::part(message mine) {
        text-align: right;
    }

    vc-messages::part(message-text) {
        border-radius: 6px;
        background-color: #f0f0f0;
        display: inline-block;
        padding: 2px 8px;
        border-radius: 6px 6px 6px 0;
        font-size: 1.4rem;
    }

    vc-messages::part(message-text mine) {
        background-color: #e0e0ff;
        border-radius: 6px 6px 0px 6px;
    }

    vc-messages::part(message-image) {
        background-color: #f0f0f0;
        display: inline-block;
        padding: 8px;
        border-radius: 6px 6px 6px 0;
        font-size: 1.4rem;
        width: 100%;
        max-width: 250px;
    }

    vc-messages::part(message-image mine) {
        background-color: #e0e0ff;
        border-radius: 6px 6px 0px 6px;
    }

    vc-messages::part(username) {
        font-size: 1.2rem;
    }

    vc-messages::part(username mine) {
        text-align: right;
        color: black;
    }

    vc-text-input {
        font-size: 20px;
    }
    #video-subscriber-container {
        width: 80vw;
        height: 90vh;
        display: flex;
    }

    video {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .OT_subscriber {
        aspect-ratio: 16 / 9;
    }

    video-subscriber::part(container) {
        aspect-ratio: 16 / 9;
    }

    #video-subscriber-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 90vh;
        position: relative;
    }

    #camera-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        place-items: center;
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    #screen-container {
        width: 0;
    }

    #screen-container:has(> video-subscriber) {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    #screen-container:has(> video-subscriber) + #camera-container {
        display: block;
        width: 30%;
    }
</style>

<script>
    import "@vonage/video-subscriber/video-subscriber.js";
    import "@vonage/vc-messages/vc-messages.js";
    import "@vonage/vc-typing-indicator/vc-typing-indicator.js";
    import "@vonage/vc-text-input/vc-text-input.js";
</script>

<script is:inline>
const sectionEl = document.querySelector("section");
const sessionId = sectionEl.dataset.sessionId;
const applicationId = sectionEl.dataset.applicationId;
const conversationId = sectionEl.dataset.conversationId;
const videoToken = sectionEl.dataset.videoToken;
const screenContainer = document.querySelector("#screen-container");
const cameraContainer = document.querySelector("#camera-container");

const chatApplication = document.querySelector("#chat-application");
const chatLogin = document.querySelector("#chat-login");

const nameInput = document.querySelector("#name");
const submitBtn = document.querySelector("#submit");
const loginStatus = document.querySelector("#login-status");
const vonageInput = document.querySelector("vc-text-input");
const vonageTypingIndicator = document.querySelector("vc-typing-indicator");
const vonageMessagesFeed = document.querySelector("vc-messages");

async function postData(url = "", data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        // mode: "cors", // no-cors, *cors, same-origin
        // cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        // credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
}

function updateDisplay(signal) {
    const display = signal.display.toLowerCase() === "true" ? true : false;
    const selectedSubscriber = document.querySelector(
        `[id="${signal.id}"]`,
    );
    if (selectedSubscriber) {
        selectedSubscriber.subscribeToAudio(display);
        selectedSubscriber.style.display = display ? "block" : "none";
    }
}

function initializeVonage() {
    // Initialize a Vonage Video Session object
    const session = OT.initSession(applicationId, sessionId);
    session.connect(videoToken, function (error) {
        if (error) {
            console.error(error.message);
        }
    });

    session.on("streamCreated", function (event) {
        // check to see if event.stream.videoType is camera or screen
        if (
            event.stream.videoType === "screen" ||
            event.stream.videoType === "custom"
        ) {
            const videoSubscriberEl =
                document.createElement("video-subscriber");
            videoSubscriberEl.setAttribute(
                "id",
                `${event.stream.streamId}`,
            );
            videoSubscriberEl.session = session;
            videoSubscriberEl.stream = event.stream;
            videoSubscriberEl.properties = {
                width: "100%",
                height: "100%",
                showControls: false,
            };
            videoSubscriberEl.style.display = "block";
            screenContainer.appendChild(videoSubscriberEl);
        } else {
            const videoSubscriberEl =
                document.createElement("video-subscriber");
            videoSubscriberEl.setAttribute(
                "id",
                `${event.stream.streamId}`,
            );
            videoSubscriberEl.session = session;
            videoSubscriberEl.stream = event.stream;
            videoSubscriberEl.properties = {
                width: "100%",
                height: "100%",
            };
            videoSubscriberEl.style.display = "none";

            cameraContainer.appendChild(videoSubscriberEl);
            const selectedSubscriber = document.querySelector(
                `[id="${event.stream.streamId}"]`,
            );
            selectedSubscriber.addEventListener("subscribed", (event) => {
                event.detail.subscriber.subscribeToAudio(false);
            });
        }
    });

    session.on("signal:toggle-display", (event) => {
        const signal = JSON.parse(event.data);
        updateDisplay(signal);
    });

    session.on("signal:update-displays", (event) => {
        const signalArray = JSON.parse(event.data);
        signalArray.forEach((signal) => updateDisplay(signal));
    });

    session.on("signal:update-scene", (event) => {
        const sceneEl = document.querySelector("#scene");
        const sceneStatus = document.querySelector("#scene-status");
        if (event.data === "") {
            sceneEl.style.display = "none";
        } else {
            sceneStatus.textContent = event.data;
            sceneEl.style.display = "flex";
        }
    });

    submitBtn.addEventListener("click", async () => {
        if (nameInput.value.replaceAll(" ", "") !== "") {
            loginStatus.textContent = "logging in...";
            // Log into chat
            const chatData = await postData(
                `/.netlify/functions/join_chat`,
                { name: nameInput.value, conversationId },
            );
            const { chatToken } = chatData;
            const client = new vonageClientSDK.VonageClient();
            try {
                await client.createSession(chatToken);
                vonageInput.client = client;
                vonageInput.conversationId = conversationId;
                vonageTypingIndicator.client = client;
                vonageTypingIndicator.conversationId = conversationId;
                vonageMessagesFeed.client = client;
                vonageMessagesFeed.conversationId = conversationId;

                chatLogin.style.display = "none";
                chatApplication.style.display = "flex";

                // allows enter button to send chat messages
                const vonageInputEl =
                    vonageInput.shadowRoot.querySelector("#text");
                vonageInputEl.addEventListener("keydown", (e) => {
                    if (e.code === "Enter") {
                        vonageInput.__handleClickEvent();
                    }
                });

            } catch (error) {
                console.error("Error starting chat: ", error)
            }
        }
    });
}

window.addEventListener("load", () => {
    // Browsers don't allow for autoplay videos with audio if you have not interacted with the site yet,
    // so the participants in the video may look frozen. This will check if the person clicked from a page
    // on the site or came directly here through a link or something.
    if (document.referrer.includes(window.location.hostname)) {
        initializeVonage();
    } else {
        const welcomeDialog = document.querySelector("#welcome-dialog");
        const welcomeDialogBtn = welcomeDialog.querySelector("button");

        welcomeDialog.showModal();

        welcomeDialog.addEventListener("keydown", (event) => {
            if (event.keyCode === 27) {
                initializeVonage();
            }
        });

        welcomeDialogBtn.addEventListener("click", () => {
            welcomeDialog.close();
            initializeVonage();
        });
    }
});
</script>
